h1 {
  color: darkgreen;
  text-align: center;
}
.sum{
  h1{
    color: #743000;
    text-align: center;
  }
}
body{
  margin: 0 0 55px 0;
}
.nav{
    position: fixed;
    bottom: 0;
    width:100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color: #fffcff;
    display: flex;
    overflow-x: auto;
   .nav__link{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      overflow: hidden;
      white-space: nowrap;
      font-family: sans-serif;
      font-size: 13px;
      color: #743000;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition: background-color 0.1s ease-in-out;
     }

}

.nav__link:hover{
  background-color: #fff4c6;
}


.nav__icon{
  font-size: 24px;
}


#allVoicesList {
  align-items: center;


}

#recordBtID{
  display: none;
}

.imageMicr{
  font-size: 100px;
}

.micrRec{
  align-content: center;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  color: dimgray;
  background-color: white;
  transition: color 0.1s ease-in-out;
}

#allVoicesList{
  display: table;
  margin: 0 auto;

}

